html {
    background: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
}
body {
    display: flex;
}

body, select {
    font-family: MS UI Gothic, monospace;
    font-size: 12px;
}

h1 { margin: 0; }
a { color: var(--accent-color) }
a:hover, a:focus, a:active { color: var(--accent-color); filter: brightness(1.5); }

select {
    height: 18px;
    width: auto;
    color: white;
    border: 0;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 127);
}
select:hover, select:active { text-decoration: underline; }

.title {
    color: var(--accent-color);
    font-weight: bold;
}
#info {
    background: rgba(0, 0, 0, 0.75);
    padding: 6px;
    border-radius: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#cells {
    position: absolute;
    image-rendering: pixelated;
    touch-action: none;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}
:not(#cells) { z-index: 1 }

.toolbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    padding: 8px;
    opacity: 0.5;
    transition: 0.2s;
}
.toolbar > * { cursor: pointer; }
.toolbar > *:not(:last-child) {
    margin-right: 4px;
}
.toolbar:hover, .toolbar:focus, .toolbar:active { opacity: 1; }
